html, body{
	margin: 0px;
	padding: 0px;
}

.body{
	background: url('BG.jpg');
	margin: 0px;
	padding: 0px;
}

.header{
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 15px;
}

.Fname{
	text-align: left;
	font-size: 20px;
	font-family: serif;
	font-style: normal;
	font-weight: bold;
	color: white;

	padding-top: 15px;
	padding-left: 15px;

	display: inline;
}

.Sname{
	text-align: left;
	font-size: 20px;
	font-family: serif;
	font-style: normal;
	color: white;

	padding-top: 15px;
	padding-left: 15px;

	display: inline;	
}

.header a{
	float: right;
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: serif;
	font-style: normal;
	text-decoration: none;

	padding-top: 5px;
	padding-left: 5px;
	padding-inline-start: 1ex;
}

.header a:hover{
	color: white;
}

.center{
	color: white;
	text-align: center;
	padding-top: 15%;
}


@media screen and (max-width: 600px){
	.header{
		display: none;
	}
	.body{
		background: url('BG-M.jpg');
	}
	.mob_nav{
		text-align: center;
		text-decoration: none;
	}
	.mob_nav a{
		text-align: center;
		color: white;
		font-size: 20px;
		font-family: serif;
		font-style: normal;
		text-decoration: none;
		padding-inline-start: 1ex;
	}
	.mob_nav ul,li{
		list-style-type: none;
	}
}

@media screen and (min-width: 600px){
	.mob_nav{
		display: none;
	}
}